<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlp6GNdE5SkbWOCNiYLAfrANYS2ZK16ys</string>
	<key>GCM_SENDER_ID</key>
	<string>106565886360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.vestie</string>
	<key>PROJECT_ID</key>
	<string>vestie-2a93f</string>
	<key>STORAGE_BUCKET</key>
	<string>vestie-2a93f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106565886360:ios:1aa941b47ef4b3ee9dcbed</string>
</dict>
</plist>